.card-body {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px 0 rgba(146, 145, 145, 0.3);
    border: none;
}

.container .navbar img {
    width: 70px;
    margin-left: 10px;
}

.rotate {
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.rotate:hover {
    transform: rotateY(180deg);
}
a{
    text-decoration: none;
    color: #000;
}

.button-59 {
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: rgb(161, 197, 250);
    color: rgb(161, 197, 250);
    fill: rgb(161, 197, 250);
  }
  
  .button-59:active {
    border-color: rgb(161, 197, 250);
    color: rgb(161, 197, 250);
    fill: rgb(161, 197, 250);
  }