@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt&display=swap');
.title{
    font-family: 'Concert One', cursive;
    font-size: 55px;
}
.container .navbar img {
    width: 80px;
    margin-left: 10px;
}

.rotate {
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.rotate:hover {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
}

.img-card {
    overflow: hidden;
}

.img-card2 {
    transition: 1.4s;
}

.img-card2:hover {
    transform: scale(1.2);
}
a{
    text-decoration: none;
}