@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt&display=swap');
.title{
    font-family: 'Concert One', cursive;
    font-size: 55px;
}
.container .navbar img {
    width: 70px;
    margin-left: 10px;
}

.rotate {
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.rotate:hover {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
}

.img-card {
    overflow: hidden;
}

.img-card2 {
    transition: 1.4s;
}

.img-card2:hover {
    transform: scale(1.2);
}
a{
    text-decoration: none;
}

/* Style button 59 */
.button-59 {
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    /* min-width: 120px; */
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: rgb(161, 197, 250);
    color: rgb(161, 197, 250);
    fill: rgb(161, 197, 250);
  }
  
  .button-59:active {
    border-color: rgb(161, 197, 250);
    color: rgb(161, 197, 250);
    fill: rgb(161, 197, 250);
  }
  .contact{
    color: rgb(2, 2, 193) !important;
  }

  .getIntouch-button {
    display: none;
  }

  @media (max-width: 480px) {
    .getIntouch-button {
      display: block;
      padding-right: 10px;
    }
    .showFullScreen{
      display: none;
    }
  }